<div class="min-h-full w-80 shrink-0 bg-base-200">
  <div class="p-6 border-b border-base-300">
    <h1 class="text-2xl font-bold">
      FinanceFlow
    </h1>
  </div>

  <ul class="w-full p-6 space-y-5 menu  [&_a]:flex [&_a]:items-center [&_a]:gap-3">
    <li><a><img src="icons/dashboard.svg" alt="icon">Dashboard</a></li>

    <li><a><img src="icons/expanses.svg" alt="icon">Despesas</a></li>

    <li><a href="#"><img src="icons/income.svg" alt="icon">Receitas</a></li>

    <li><a href="#"><img src="icons/wallet.svg" alt="icon">Carteiras</a></li>

    <li><a href="#"><img src="icons/budget.svg" alt="icon">Orçamento</a></li>
  </ul>
</div>