<div class="flex min-h-dvh">
    <div class="w-1/2 bg-(--brand-violet) flex flex-col justify-between pb-10">
        <div class="flex justify-start items-center gap-2.5 w-full m-10">
            <img src="icons/logo.svg" alt="finance logo">
            <span class="text-(--text-primary) text-xl font-semibold antialiased  md:subpixel-antialiased">FinanceFlow</span>
        </div>

        <div class="flex flex-col mx-10">
            <span class="text-(--text-primary) text-3xl">Transforme sua <br> relação com o dinheiro</span>
            <span class="text-(--text-secondary) pt-4 text-2xl font-thin">Controle digital total das suas finanças</span>
        </div>

        <div class="flex gap-6 justify-evenly items-center-safe">
            <div class="w-50 h-28 bg-(--brand-violet1) rounded-2xl flex flex-col items-start gap-3 pt-4 px-4 border-[1px_solid_rgba(46,232,255,0.9)] shadow-[0_8px_20px_rgba(11,10,20,0.25)]">
                <div class="w-10 h-10 rounded-lg bg-[#2BB9F9] flex items-center justify-center overflow-hidden">
                    <img src="icons/analisys.svg" alt="analisys" class="w-6 h-6" />
                </div>
                <div class="text-(--text-primary) text-lg font-medium">Análises</div>
            </div>

            <div class="w-50 h-28 bg-(--brand-violet1) rounded-2xl flex flex-col items-start gap-3 pt-4 px-4 border-[1px_solid_rgba(46,232,255,0.9)] shadow-[0_8px_20px_rgba(11,10,20,0.25)]">
                <div class="w-10 h-10 rounded-lg bg-[#EA6ACB] flex items-center justify-center overflow-hidden">
                    <img src="icons/budget.svg" alt="budget" class="w-6 h-6" />
                </div>
                <div class="text-(--text-primary) text-lg font-medium">Orçamento</div>
            </div>

            <div class="w-50 h-28 bg-(--brand-violet1) rounded-2xl flex flex-col items-start gap-3 pt-4 px-4 border-[1px_solid_rgba(46,232,255,0.9)] shadow-[0_8px_20px_rgba(11,10,20,0.25)]">
                <div class="w-10 h-10 rounded-lg bg-[#FEB501] flex items-center justify-center overflow-hidden">
                    <img src="icons/insights.svg" alt="insight" class="w-6 h-6" />
                </div> 
                <div class="text-(--text-primary) text-lg font-medium">Insights</div>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center justify-center w-1/2">
        <div class="pt-20 text-center">
            <h1 class="text-(--text-primary) font-semibold text-3xl antialiased md:subpixel-antialiased">Bem-Vindo de volta</h1>
            <span class="text-(--text-secondary) font-light">Entre na sua conta para continuar</span>
        </div>

        <form action="#" [formGroup]="form" (ngSubmit)="onSubmitLogIn()"  class="max-w-md mt-8 w-full mx-auto bg-(--surface-glass-75) p-6 rounded-2xl">
            <label class="block mb-2 text-sm text-(--text-secondary)">Email</label>
            <input type="email" name="email" formControlName="email" placeholder="seu@email.com" 
                class="bg-(--surface-glass) border border-white/10 rounded-3xl px-4 py-2.5 text-(--text-primary) text-sm placeholder:text-(--text-disabled) outline-none focus:border-(--brand-violet) transition-colors w-full" />

            <div class="h-4">
                @if(form.get('email')?.invalid && form.get('email')?.touched){
                    @if(form.get('email')?.errors?.['required']){
                        <span class="text-xs text-red-500 font-extralight">O e-mail é obrigatório</span>
                    }
                }
            </div>


            <label class="block mt-4 mb-2 text-sm text-(--text-secondary)">Senha</label>
            <input type="password" name="password" formControlName="password" placeholder="Digite sua senha" 
                class="bg-(--surface-glass) border border-white/10 rounded-3xl px-4 py-2.5 text-(--text-primary) text-sm placeholder:text-(--text-disabled) outline-none focus:border-(--brand-violet) transition-colors w-full" />
            <div class="h-4">
                @if(form.get('password')?.invalid && form.get('password')?.touched){
                    @if(form.get('password')?.errors?.['required']){
                        <span class="text-xs text-red-500 font-extralight">A senha é obrigatória</span>
                    }
                }
            </div>

            <div class="flex items-center justify-between mt-3">
                <label class="flex items-center gap-2 text-(--text-secondary) text-sm">
                    <input type="checkbox" class="appearance-none w-4 h-4 rounded border border-white/30 checked:bg-(--brand-violet) checked:border-(--brand-violet) transition-colors" />
                    Lembrar de mim
                </label>
                <a href="#" class="text-(--brand-violet) text-sm">Esqueceu a senha?</a>
            </div>

            <button type="submit" class="mt-5 w-full rounded-xl h-10 bg-(--brand-violet) cursor-pointer text-(--text-primary) font-medium transition-all duration-200 hover:brightness-110 hover:scale-[1.02] active:scale-[0.98]">Entrar</button>

            <div class="flex items-center gap-3 my-4">
                <div class="flex-1 h-px bg-white/6"></div> 
                <div class="text-(--text-secondary) text-sm">ou</div>
                <div class="flex-1 h-px bg-white/6"></div>
            </div>

            <div class="text-center text-sm text-(--text-secondary)">Não tem uma conta? <a href="/signup" class="text-(--brand-violet)">Crie uma agora</a></div>
        </form>
    </div>
</div>
